@import url(./blocks/contact-form/contact-form.css);
@import url(./blocks/header/header.css);
@import url(./blocks/main/main.css);
@import url(./blocks/section-title/section-title.css);
@import url(./blocks/section-subtitle/section-subtitle.css);
@import url(./blocks/work/work.css);
@import url(./blocks/about/about.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/contacts/contacts.css);
@import url(./blocks/fotorama/fotorama.css);

/* * {
    border: solid red 1px;  
} */

body {    
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;    
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;  
    
}

@media screen and (max-width: 680px ) {
    
}





