.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #111211;

    max-width: 1920px;
    margin: 0 auto;
    /* width: 80%; */
    padding: 20px 200px;
}
.container h2 {
    width: 100%;
    color: #bea67c;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}
.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(300px, 1fr));
}
.container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #bea67c;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #bea67c;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
    height: 100%;
}
.container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
    height: 100%;
}
input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #bea67c;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}

/* телефон */

.social-media {
    display: flex;
    justify-content: center;
    background: #111211;
    margin: 0 auto;
    padding: 50px 0;
}
.social-media a {  
    display: flex;
    background: #bea67c;
    height: 75px;
    width: 144px;
    /* margin: 0 15px; */
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    transition: transform 0.5s; */
}
.social-media a i {
    font-size: 35px;
    color: #484848;
    transition: transform 0.5s;
}
.social-media a:hover{
    /* box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.01);
    transform: translateY(2px); */
}
.social-media a:hover i {
    /* transform: scale(0.90); */
}
.link_image {
    width: 30px;
    color: #bea67c;
    transition: transform 0.5s;
}
