.header {
    padding: 0;
    margin: 0 auto;    
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 92px;
    background: #111211;
    color: #ffffff;
    text-transform: uppercase;  
    letter-spacing: 0.3em;  
}
/* .header__logo {
    color: #868585;
    font-size: 1.5em;
} */
.header__links {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;    
    list-style-type: none;
}
.header__link {
    margin: 0 20px;
    box-sizing: border-box;
    color: #868585;
    text-decoration: none;
    font-size: 0.8em;
}

@media screen and (max-width: 680px ) {
    .header {
        min-height: 80px;
        /* letter-spacing: 0.2em; */
    }
    .header__link {
        margin: 0 10px;
        font-size: 0.6em;
    }
}

@media screen and (max-width: 420px ) {
    .header {
        min-height: 42px;
        letter-spacing: 0.1em;
    }
    .header__link {
        margin: 0 5px;
        font-size: 0.5em;
    }
}