.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background: #111211;
    color: #868585;    
    text-transform: uppercase;
}
.footer__logo {
    letter-spacing: 0.3em;
}
.footer__copyright {
    font-size: 0.7em;
}
.footer__span {
    font-weight: 700;
}

@media screen and (max-width: 470px ) {
    .footer {
        min-height: 50px;
    }
    .footer__copyright {
        font-size: 0.6em;
    }
    .footer__logo {
        letter-spacing: 0.2em;
    }
    .footer__copyright {
        font-size: 0.5em;
    }
}
@media screen and (max-width: 350px ) {
    .footer {
        flex-direction: column;
    }
    .footer__logo {
        font-size: 1.5em;
        letter-spacing: 0.3em;
        margin: 0;
        padding: 0;
    }
}